{% extends 'base.html.twig' %}

{% block title %}Wild Emmanuelle | Dev web Junior{% endblock %}

{% block body %}
<a href="{{ path('app_login') }}">Connexion</a>
<a href="{{ path('home_index') }}">CV</a>
<a href="{{ path('home_contact') }}">Contact</a>

{% endblock %}
