{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ include('home/_navbar.html.twig') }}

    {% if app.user is defined %}
        <a href="{{ path('admin_index') }}">Espace Admin</a>
    {% else %}
        <a href="{{ path('app_login') }}">Connexion</a>
    {% endif %}

{% endblock %}
