@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

html {
    height: 100%;
    cursor: crosshair;
}

body{
    font-family: 'Inconsolata', monospace;
    background: whitesmoke;

    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    overflow-y: scroll;
    scrollbar-color: lightgray whitesmoke;
    scrollbar-width: thin;

    height: 90%;
    width: 95%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-around;
}

header ul {
    list-style: none;
    display: flex;
}

a{
    color: rgb(26, 25, 25);
}


.parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }

.me{
    max-width: 70%;
}

.main{
    order: 1;
    border-left: 1px solid lightgrey;
    padding-left: 1rem;
}

.aside{
    padding: 1rem;
    text-align: center;
}

.aside ul {
    text-align: left;
}

h1{
    margin-bottom: 0;
}

h2{
    margin-top: 0;
}

h4{
    text-decoration: underline overline rgb(26, 25, 25);
}

h5, h6{
    margin-bottom: 0;
    margin-top: 0;
}

footer p {
    padding: 0;
    margin: 0;
}

table{
    margin: 1.5em;
}


/* buttons  */

 .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #CCC;
    border-radius: 0.6em;
    color: #CCC;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #CCC inset;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

 /* Form Styling  */

 form,
 .form-style {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 0.2em;
  }

  .not-a-form {
    margin: 0;
    width: auto;
    padding: 0;
    border: none;
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  label {
    display: inline-block;
    width: 120px;
    text-align: right;
  }

  .checkbox{
    width: 300px;
  }
  
  input, 
  textarea,
  select {

    font: inherit;
    margin: 0.2em;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 0.2em;

  }

  .checkboxInput{
    width: auto;
    justify-content: center;
  }
  
  input:focus, 
  textarea:focus {
    border-color: grey;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  
  .form-group{
      display: flex;
      justify-content: center;
  }

/* For the nav  */
  
.dropdown {
    overflow: hidden;
    float: inline-end;
}

.dropdown .dropbtn {
text-decoration: underline;
font-size: 30px;  
border: none;
outline: none;
color: rgb(26, 25, 25);
background-color: inherit;
font-family: inherit;
margin: 0;
} 

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
font-size: 13px;  
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
padding: 12px 16px;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
