<h1>j'ai un email !</h1>

<p> C'est un email de : {{ message.lastname ~ ' ' ~ message.firstname}}</p>
<p>C'est peut être urgent, alors vite, voilà le lien pour se connecter :</p>

<a href="{{ url('admin_index') }}">Voir le message !</a>

<p>A tout de suite !</p>